<?xml version="1.0" encoding="UTF-8" ?>
<Module>
    <!-- /*
 * Copyright (c) 2011 Google Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */ -->
  <ModulePrefs title="Avalon">
    <Require feature="rpc"/>
  </ModulePrefs>
  <Content type="html"><![CDATA[
<!DOCTYPE html>
<!-- The hangout API JavaScript. Always include this first -->
<script src="//hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js"></script>

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
<link rel="stylesheet" href="//trim-mariner-422.appspot.com/static/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script type="text/javascript">
(function (window) {
    var hangouts_ready = $.Deferred();
    var plusone_ready = $.Deferred();
    window.plusone_onload = plusone_ready.resolve;
    gapi.hangout.onApiReady.add(hangouts_ready.resolveWith);
    window.apis_ready = $.when(hangouts_ready, plusone_ready);
}(window));
</script>
<script src="//apis.google.com/js/client:plusone.js?onload=plusone_onload"></script>

<style>.main-box { display: none; }</style>

<div class='outer-frame'>
<div id="main">
    <div class='info-box game-status'>
        <div class='gameinfo'>Current leader: <span class='leader'/></div>
        <div class='gameinfo'>Current mission: <span class='thismission'/></div>
        <div class='gameinfo'>Current proposal: <span class='thisproposal'/></div>
    </div>

    <div class='main-box loading-mode'>
        Loading...
    </div>

    <div class='main-box start-mode'>
        <button class='start-game'>Start game</button>

        <div class='gameinfobox'>
           <div class='gameinfo'>Players:
              <div class='players gameplayers'></div>
           </div>
        </div>

        <div class='cardchoice'>
            <div class='cardchoice-row'>
                <div class='card-frame good'>
                    Good
                    <div class='card-box good'></div>
                </div>
                <div class='card-frame evil'>
                    Evil
                    <div class='card-box evil'></div>
                </div>
            </div>
            <div class='cardchoice-row'>
                <div class='generic good'></div>
                <div class='generic evil'></div>
            </div>
        </div>
    </div>

    <div class='main-box pick-mode'>
        <div class='gameinfobox'>
            <div class='gameinfo'>Number of players on this mission: <span class='playercount'/></div>
        </div>
        <form class='proposal' id='proposal'>
            Pick the mission to propose
            <div class='proposal'></div>
            <button>Propose</button>
        </form>
    </div>

    <div class='main-box voting-mode'>
        <div class='gameinfobox'>
            <div class='gameinfo'>Proposed mission:
              <div class='players missionplayers'></div>
            </div>
        </div>
        <form class='vote' id='vote'>
            Vote on whether this mission should go ahead:<br/>
            <input class='approve' type='radio' name='vote' value='approve'>Approve</input><br/>
            <input class='reject' type='radio' name='vote' value='reject'>Reject</input><br/>
            <button>Commit</button>
        </form>
    </div>

    <div class='main-box mission-mode'>
        <div class='gameinfobox'>
            <div class='gameinfo'>Mission:
              <div class='players missionplayers'></div>
            </div>
        </div>
        <form class='mission' id='mission'>
            Select your action:<br/>
            <input class='success' type='radio' name='action' value='Success'>Success</input><br/>
            <input class='fail' type='radio' name='action' value='Fail'>Fail</input><br/>
            <button>Commit</button>
        </form>
    </div>

    <div class='main-box gameover-mode'>
        <div class='gameinfobox'>
            <div class='gameinfo'><span class='comment'/></div>
            <div class='gameinfo'>Result: <span class='result'/></div>
            <div class='gameinfo'>Cards:
              <div class='players playercards'></div>
            </div>
        </div>
        <div class='restartbox'>
           <button class='start-game'>Start a new game</button>
           <div class='gameinfobox'>
              <div class='gameinfo'>Players:
                 <div class='players gameplayers'></div>
              </div>
           </div>
        </div>
    </div>

    <div class='info-box table-order'>
        Table order
        <div class='players'></div>
    </div>

    <div class='info-box last-proposal'>
        Last proposal
        <div class='players'></div>
    </div>

    <div class='info-box mission-results'>
        Missions
        <div class='mission-status'></div>
    </div>

    <div class='debug'>
        Debug buttons
        <button id='start'>Start refresh</button>
        <button id='stop'>Stop refresh</button>
        <button id='refresh'>Refresh once</button>
    </div>
</div>
</div>

<script src="//trim-mariner-422.appspot.com/app.js"></script>

]]></Content>
</Module>
